#main_story{
    margin: 0;
    text-align: center;
}
/* header */
#header{
height: 60px;
background-image: linear-gradient(0,#772953,#89245a);
margin: 0;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 1;

}
#nav{
    display: inline-block;
}
#nav, 
.subnav {
    list-style-type: none;
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
    display: inline-block;
    margin-right: 20px;
}
#nav li:hover .subnav{
    display: block;
    cursor: pointer;
}
#nav > li > a{
    color: var(--white-color);
    text-transform: uppercase;
}
#nav li a{
   
    text-decoration: none;
    line-height: 60px;
    padding: 0 24px;
    display: block;
}

#nav .subnav li a:hover{
    color: #772953;
    background: var(--white-color);
    cursor: pointer;
}
#nav > li:hover > a{
    color: #772953;
    background: var(--white-color);
    cursor: pointer;
}

#nav .subnav{
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #89245a;
    box-shadow: 0 0 10px rgba(0 ,0 , 0, 0.3);
}
#nav .subnav li{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}
#nav .subnav a {
    color: var(--text-color);
    text-align: left;
}

#subnav{
    position: absolute;
    top:100%;
    width: 290px;
    border:  1px solid #772953;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: top left;
    animation: heatify ease-in 0.2s;
    will-change: opacity,transform ;
    display: none;
}
#header .mobile-m-b{
    position: absolute;
    top :0;
    right: 0;
    display: none;
}
#header .mobile-m-b,
#header .search-btn{
    float: right;
    padding: 0 21px;
   
}
#header .mobile-m-b:hover{
    background-color: var(--border-color);
}
#header .search-btn:hover{
    cursor: pointer;
    background-color: var(--primary-color);
}
#header .m-icon,
#header .search-icon{
    color: #000;
    font-size: 20px;
    line-height: 60px;
}
.khoan_cach{
    height: 100px;
    margin-top: 60px;
}
/* slider */
.slider{
   width: 1000px;
   max-width: 100vw;
   height: 500px;
   margin: auto;
   position: relative;
   overflow: hidden;
}
.ListPro{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transform: 1s;
}
.itemPro img{
    width: 1000px;
    max-width: 100vw;
    height: 500px; 
    
}
.btn-sli{
    position: absolute;
    top :45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.btn-sli button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.dots{
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
}
.dots li.active{
    width: 30px;
}
/* container */
#story_container{
    width:1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /* margin: 0; */
}
.content_s {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
}
.checkbox-grid {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
  
.checkbox-row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
.checkbox-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.left_s{
    flex-basis: 80%;
    margin: 0 15px;
    background-color: var(--white-color);
}
.left_ct{
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  flex-basis: 80%;
  margin: 0 15px;
  background-color: var(--white-color);
  width: 100%; /* Đặt chiều rộng của .container bằng 100% */
  max-width: 800px; /* Giới hạn chiều rộng tối đa của .container */
  padding: 2rem; 
}
.left-ck{
    text-align: center; 
}
.right_s {
    flex-basis: 20%;
    margin: 0 15px;
}
.product_box1 {
    width: 180px;
    height: auto;
    background: url('../img/jjkai.jpg') top center / cover no-repeat;
    padding: 9px;
}
.title {
    line-height: 30px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    background-color: #0bb1a7;
    margin-top: 10px;
}
.lmenu2 {
    background-color: #eee6e6;
    padding-left: 5px;
    margin-bottom: 1px;
}
.box_content {
    text-align: center;
    border: 3px solid #504b4b;
    padding: 2px;
    
}
.pro_title {
    text-align: center;
    font-weight: bold;
    color: #F00;
    font-size: 14px;
}

.pro_title a {
    text-decoration: none;
    color: #F00;
}

.pro_price {
    text-align: center;
    color: #F00;
    font-weight: bold;
    width: 50%;
    float: left;
    font-size: 14px;
}
.center_content {
    padding: 7px;
    justify-content:space-evenly;
    flex: 1;
    text-align: center;
    display: flex;
}
.center_title {
    line-height: 33px;
    color: #fff;
    font-weight: bold;
    background: url(../images/layout/bar_bg.gif) no-repeat center;
    background-color: #00A3D9;
    text-align: left;
}
.product_box {
    width: 180px;
    height: auto;
    float: left;
    padding: 9px;
}
.pro_box_top {
    height: 12px;
    background-image: url(../images/layout/product_box_top.gif);
}

.pro_box_bot {
    height: 10px;
    background-image: url(../images/layout/product_box_bottom.gif);
}

.pro_box_mid {
    background-image: url(../images/layout/product_box_center.gif);
}
.pro_img {
    text-align: center;
    padding: 5px 0px;
}

.pro_img img {
    height: 200px;
    width: 150px;
}
.price2
{
	text-align:center; color:#F00; width:50%; float:left; font-size:14px;
}
.right_content{
    height: auto;
}
.categories {
    list-style-type: none;
    margin-top: 0px;
}
.categories li{
    text-align: left;
}
.categories li a {
    text-decoration: none;
    color: #1c0303;
    line-height: 30px;

}
.categories li:hover a {
    font-weight: bold;
    color: #df1111;
    background-color: #00A3D9;
}
.pro_cart {
    width: 50%;
    float: right;
    font-size: 14px;
    text-align: center;
}

.pro_cart a {
    text-decoration: none;
    color: #0fa0dd;
}

/* footer */
#footer {
    height: 60px;
    color: #847676;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    font-style: italic;
    background-image: url(../images/layout/footer_bg.gif);
    margin: 0;
    width: 100%;
}
/* repon */
/* pc */
@media (min-width:1024px) {
    
}
/* tavlet */
@media(min-width:740px) and (max-width:1023){

}
/* mobli */
@media(max-width:740px){
    #header{
        text-align: left;
        overflow: hidden;
    }
    #header .search-btn{
        display: none;
    }
    #nav > li{
        display: block;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #header .mobile-m-b{
        display: block;
    }
   
    #nav{
        display: block;
        text-align: left;
    }
   
    #nav .subnav{
        position: initial;
        background-color: #333;
    }
    #nav .subnav a{
        color: #fff;
    }
    .content_s{
        display: block;
    } 
    #story_container{
       width:  500px;
    }
    .content_s{
        display: block;
    }  
    .center_content{
        display: block;
    } 
    .left_s {
        width: 100%;
      }
      .product_box {
        width: 50%;
        float: left;
      }
}
.category{
    border-radius: 2px;
    background-color: var(--white-color);
    margin: 16px;
    
}
.category_heading{
    font-size: 1.8rem;
    padding: 8px 16px;
}
.category_heading-icon{
    font-size: 1.4rem;
}

.category-item--active.category-item__link{
color: var(--primary-color);
}
.category-item--active.category-item__link ::before {
     position: absolute;
     top :50%;
     left: 4px;
     content: "";
     border: 4px solid;
     transform: translateY(-50%);
     background-color: transparent transparent transparent var(--primary-color);
}
.category-list{
   list-style: none;
}
.category-item__link{
    font-size: 1.4rem;
    color: var(--text-color);
   position: relative;;
    padding: 8px 16px;
    display: block;
    transition: right linear 0.2;
    right: 0;
    text-decoration: none;
}
.category-item__link:hover{
    color: var(--primary-color);
    right: -4px;
}
/* deader */
/*.header__navbar{
    display: flex;
    /* justify-content: space-between ; 
    margin-left: 200px;
    margin-right: 200px;
}
.header__navbar-list{
    list-style: none;
}
.header__navbar-item{
    margin: 0 5px;
    text-align: center;
    min-height: 10px;
    position: relative;
}
.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.0rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-item :hover,
.header__navbar-item-link :hover{
    background-color: rgb(255,255,255,0.7);
    cursor: pointer;
    flex: 1;

}
.header__navbar-item-strong{
    font-weight: 400;
}
.header__navbar-icon{
    font-size: 1.0rem;
    padding-left: 2px;
}

.right__notify{
    position: relative;
    top:100%;
    width: 100%;
    border:  1px solid #772953;
    background-color: var(--white-color);
    justify-content: space-between;
    display: flex;
}
.header__notify1{
    position: absolute;
    top:100%;
    width: 200px;
    border:  1px solid #772953;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: top left;
    animation: heatify ease-in 0.2s;
    will-change: opacity,transform ;
    display: block;
}
.header__notify-list{
   padding: 0;
   list-style-type: none;
}
.right__notify-list{
    padding: 0;
    list-style-type: none;
 }
.header__notify-link{
    text-decoration: none;
    text-align: center;
    margin-right: 20px;
}
.right__notify-link{
    text-decoration: none;
    text-align: left;
    
    font-size: 1.5rem;
}
.header__notify-item{
    text-align: left;
}
.right__notify-item{
    text-align: left;
}
.header__notify-item :hover{
    color: #f1f1f1;
}
.header__notify-item--view{
    background-color: rgb(238,75, 43,0.8);
}
.right__notify-item--view{
    background-color:var(--white-color);
    
}
.header__navbar-item--has-notiy:hover  .header__notify{
    display: flex;
}
.header__navbar-item--has--login:hover.madal{
    display: block;
}*/

.auth-form{
    width: 500px;
}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
}
.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
    flex: 1;
}
.auth-form__input:focus{
    border: #888;
}
.auth-form__aside{
    margin-top: 18px;
}
.auth-form__policy-text{
    font-size: 1.0rem;
    line-height: 1.8rem;
    text-align: center  ;
    padding: 0 12px;
    display: flex;
    align-items: center;
}
.auth-form__text-link{
    color:  var(--primary-color);
    text-decoration: none;
}
.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__socials{
background-color: #f5f5f5;
padding: 16px 32px;
justify-content: space-between;
margin-top: 24px;
}
.auth-form__socials-icon{
    font-size: 1.4rem;
}
.auth-form__controls-back{
    margin-right: 12px 36px;
}
.auth-form__socials-icon,
.auth-form__socials--fb{
    color: var(--white-color);
}
.auth-form__socials--gg{
    background-color: var(--white-color);
    color: var(--primary-color);
}
.auth-form__socials--fb{
    color: #666;
    background-color: #3A5A98;
}
.auth-form__switch-btn{
    color: var(--primary-color);
    cursor: pointer;
}
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__hhelp-link{
    text-decoration: none;
    color: #939393;
}
.auth-form__help-separate{
    display: block;
    margin: 0 16px;
    height: 2px 22px 0;
    border-left: 1px solid var(--border-color);
}
.auth-form__hhelp-fogot{
    color: var(--primary-color);
}
.header__search{
   display:flex;
   text-align: right;
   margin-left: 50px;
}
.header__navbar-search-input{
    margin-top: 10px;
    border: none;
    /* flex: 1; */
    height: 100%;
    width: 400px;
    border: none;
    outline: none;  
    /* padding: 0 16px;   */
}
/* .header__navbar-search{

    flex: 1; 
    
}
.header__search-icon{
    font-size: 1.5rem;
    margin-top: 14px;
    background-color: var(--white-color);
    border: none;
    font-size: 1.4rem;
}
.header__search-btn{
    margin-top: 10px;
    border: none;
}
.header__search-btn--icon{

} */
.auth-form__social-title{
    line-height: 30px;
    text-align: center;
    color: var(--text-color);
    font-weight: bold;
    margin-top: 10px;
}
